@media (prefers-reduced-motion: no-preference){
    :root {
        scroll-behavior: smooth;
    }
}

header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .header_logo {
    font-size: 24px;
}

header {
    width: 100%;
    position: relative;
    z-index: 9999;
    background-color: #070101;
}

*
{
    font-family: Arial,Helvetica,sans-serif;
}

body
{
    margin: 0;
    padding: 0;
    background-color: #544e4e;
    color: #fff;
    overflow-x: hidden;
}

.baner .new_box
{
    height: 50%;
}

.baner .back_color
{
    font-size: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.baner .dalboyobs
{
    font-family: Brush Script MT, Brush Script Std, cursive;
    color: rgba(94, 191, 208, 0.645);
    font-size: 24px;
}

.baner .dalboyob
{
    font-family: Brush Script MT, Brush Script Std, cursive;
    justify-self: unset;
    text-align: left;
    color: rgb(193, 44, 175);
    font-size: 20px;
}

.baner-header
{
    font-weight: bold;
    padding: 20px;
    color: #fff;
}

button
{
    background: #070101;
}

h1
{
    cursor: pointer;
}

.mark
{
    color: goldenrod;
}

header menu {
    display: flex;
    align-items: center;
}

menu
{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

header .header_menu {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

a, a:hover, a:visited {
    text-decoration: none;
}

.wrapper .new_box
{
    color: #fff;
    position: relative;
}

header .header_menu li {
    border-radius: 15px;
    padding: 8px 16px;
    color: #fff;
    transition: color .3s ease-out;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.3s;
}

header .header_menu li:hover
{
    background-color: slategrey;
    color: aqua;
}

.wrapper {
    margin: 0 auto;
    padding: 16px;
    max-width: 1280px;
}

div {
    display: block;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
