@media (prefers-reduced-motion: no-preference){
    :root {
        scroll-behavior: smooth;
    }
}

*
{
    font-family: Arial,Helvetica,sans-serif;
}

body
{
    margin: 0;
    padding: 0;
    background-color: #070101;
    color: #fff;
    overflow-x: hidden;
}

div
{
    display: block;
}

menu
{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

header .header-menu
{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

header .header-menu li
{
    padding: 8px 16px;
    color: #fff;
    transition: color .3s ease-out;
    text-transform: uppercase;
    text-decoration: none;
}

a, a:hover, a:visited {
    text-decoration: none;
}

header .header-menu li:hover
{
    color: rgb(91, 171, 246);
}

.baner_sayHi {
    font-size: 32px;
    font-weight: bold;
    padding-left: 10%;
}

.baner_sayHi p {
    max-width: 640px;
}


li {
    text-align: -webkit-match-parent;
}

header
{
    padding: 0;
    margin: 0;
    background: #393939;
    height: 60px;
}

.qute {
    background: #131313;
    position: relative;
    z-index: 1000;
    font-family: "Arial";
    font-style: italic;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
}

.qute .wrapper {
    padding: 177px 16px 100px 16px;
    max-width: 950px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.qute_text::before {
    content: "＂";
    position: absolute;
    top: -0.5em;
    left: -1em;
    font-family: "Arial";
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 135px;
    color: #fcb93c;
}

.qute_author {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

.qute_text {
    position: relative;
}

.mark
{
    color: rgb(91, 171, 246);
}

header .wrapper
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header
{
    height: 90px;
    width: 100%;
    position: relative;
    z-index: 9999;
    background-color: #070101;
}


header .header_logo
{
    font-size: 24px;
}

.wrapper {
    margin: 0 auto;
    padding: 16px;
    max-width: 1280px;
}

.skills {
    background-color: #070101;
    position: relative;
    z-index: 1000;
}

.skills_icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    padding: 10% 0;
}


.skills_skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px;
    border-radius: 16px;
    transition: 0.3s;
}

.skills .skill_icon {
    width: 112px;
}

.skills_skill:hover
{
    cursor: pointer;
    background: #131313;
}

.skills_name {
    font-family: "Arial";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.socialContacts {
    background-color: #141414;
}

.socials {
    display: flex;
    gap: 20px;
}

.socialContacts .wrapper {
    font-family: "Arial";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
    color: #fff;
    padding: 32px;
}

.socialContacts p {
    max-width: 520px;
}

.header-link
{
    color: #fff;
}
