@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Kanit&display=swap');

@media (prefers-reduced-motion: no-preference){
    :root {
        scroll-behavior: smooth;
    }
}


body
{
    margin: 0;
    padding: 0;
    background-image: url(images/bg.png);
    position: relative;
}

.gib_logo
{
    height: 120px;
    margin-left: 120px;
    margin-top: 60px;
    position: absolute;
    z-index: 999;
}

.task_menu
{
    width: 100%;
    position: relative;
    z-index: 1;
}


.logo
{
    height: 42px;
    width: 42px;
}

.log
{
    display: flex;
    gap: 30px;
    float: right;
    margin-right: 20px;
    margin-top: 25px;
    margin-right: 100px;
}

.bg_persona
{
    margin-top: 100px;
    margin-left: 35%;
    position: absolute;
    z-index: 1;
}

.persona
{
    
    margin-left: 710px;
    position: relative;
    z-index: 3;
}

.persona
{
    max-width: 700px;
    animation: animate 3s linear infinite;
}

@keyframes animate
{
    0%,100%
    {
        transform: translateY(25px);
    }
    50%
    {
        transform: translateY(50px);
    }
}

.hi_logo
{

    position: absolute;
    margin-top: 5%;
    margin-left: -210px;
    z-index: 3;
    animation: animate 3s linear infinite;
}

@keyframes animate {
    0%,100%
    {
        transform: translateY(25px);
    }
    50%
    {
        transform: translateY(50px);
    }
}

@media(max-width: 956px)
{

    body
    {
        max-width: 64%;
    }
    img.persona
    {
        top: -60px;
        max-width: 350px;
        left: -620px;
    }
    .hi_logo
    {
        margin-left: 86%;
        top: 315px;
        height: 60px;
        position: absolute;
        z-index: 3;
        animation: animate 3s linear infinite;
    }
    .bg_persona
    {
        margin-top: 120px;
        margin-left: -220px;
        position: absolute;
        z-index: 1;
        height: 540px;
    }
    .gib_logo
    {
        height: 90px;
        margin-left: 50px;
        top: -45px;
        position: relative;
        z-index: 999;
    }
    .log
    {
        display: flex;
        gap: 20px;
        float: right;
        margin-right: -220px;
        margin-top: 25px;
    }

}   
