@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
}

.background {
    background: url(../img/Bitmap.png);
    background-size: cover;
    background-position: center bottom;
    width: 100%;
    height: 0;
    padding-top: 50%;
    position: relative;
}

.background__inner {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.plain__padding {
    padding-left: 166px;
    padding-right: 166px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu__item_logo {
    font-size: 40px;
    display: flex;
    flex-grow: 1;
    color: #ffffff;
    font-family: "Poppins";
    align-items: center;
    font-weight: 700;
}

.menu__item_logo::before {
    content: '';
    position: relative;
    display: block;
    background: url(../img/logo.png);
    width: 50px;
    height: 33px;
    margin-right: 24px;
}

.background__wrap {
    padding-left: 166px;
    padding-right: 166px;
    padding-top: 24px;
}

.menu__icon {
    background: url(../img/menu.png);
    width: 40px;
    height: 40px;
}

.header__wrap {
    width: 616px;
    margin-top: 130px;
    max-width: 100%;
}

.text__thick_white {
    color: #ffffff;
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 400;
}

.text__bold_white {
    color: #ffffff;
    font-family: "Poppins";
    font-size: 60px;
    font-weight: 700;
    line-height: 74px;
}

.text_white {
    color: #ffffff;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.link {
    text-decoration: underline;
    color: #ffd723;
}

.text__orange {
    color: #ffd723;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 700;
    text-decoration: underline;
}

.partners {
    width: 80%;
    float: right;
    background: white;
    padding-right: 166px;
    padding-left: 66px;
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    justify-content: space-between;
    box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.15);
    margin-top: -120px;
}

.partner {
    width: 156px;
    height: 113px;
    opacity: 0.63;
    flex-shrink: 0;
}

.partner1 {
    background: url(../img/partner1.png);
}

.partner2 {
    background: url(../img/partner2.png);
}

.partner3 {
    background: url(../img/partner3.png);
}

.partner4 {
    background: url(../img/partner4.png);
}

.partner5 {
    background: url(../img/partner5.png);
}

.main {
    clear: both;
}

.text__small {
    color: rgba(77, 83, 60, 0.9);
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 400;
}

.text__bold {
    color: #4d533c;
    font-family: "Poppins";
    font-size: 36px !important;
    font-weight: 700;
    line-height: 46px;
}

.text__main {
    color: rgba(33, 56, 66, 0.6);
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.text__link {
    color: #d4d6d4;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 700;
    text-decoration: underline;
}

.article__wrap {
    width: 475px;
    padding-top: 120px;
}

.article__main {
    display: flex;
    width: 40%;
    padding-left: 96px;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 166px;
    padding-top: 80px;
    padding-bottom: 130px;
    box-sizing: border-box;
}

.article {
    display: flex;
    justify-content: space-between;
}

.review {
    box-shadow: 0 100px 100px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    padding-left: 40px;
    padding-bottom: 73px;
    padding-right: 12px;
    padding-top: 120px;
}

.article__review {
    position: absolute;
    right: -40px;
    bottom: -50px;
    padding: 30px;
    box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.article__review_odd {
    position: absolute;
    left: -40px;
    bottom: -50px;
    padding: 30px;
    box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.article__review .review__wrap::before {
    width: 60px;
    height: 60px;
    background: url(../img/review1.png);
    background-size: cover;
    flex-shrink: 0;
}

.article__review_odd .review__wrap::before {
    width: 60px;
    height: 60px;
    background: url(../img/review2.jpg);
    background-size: cover;
}

.article__review_last .review__wrap::before {
    width: 60px;
    height: 60px;
    background: url(../img/review3.jpg);
    background-size: cover;
}

.article__review .review__text, .article__review_odd .review__text {
    font-size: 16px;
}

.review__text {
    width: 426px;
    color: #4d533c;
    font-family: "Poppins";
    font-size: 24px;
    line-height: 40px;
    margin-top: 0;
}

.review__name {
    color: #4d533c;
    font-family: "Poppins";
    font-size: 22px;
    font-weight: 700;
    margin-top: 0;
}

.review__status {
    color: #152934;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
}

.review__wrap {
    display: flex;
    align-items: center;
}

.review__wrap::before {
    content: '';
    position: relative;
    display: block;
    background: url(../img/review.png);
    width: 90px;
    height: 90px;
    background-size: cover;
    margin-right: 30px;
    border-radius: 50%;
}

.text__row {
    margin-top: 300px;
    margin-bottom: 122px;
}

.text__wrap {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
}

.text__wrap::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgba(33, 56, 66, 0.1);
    top: -162px;
}

.article__img {
    width: 60%;
    height: 0;
    position: relative;
    padding-top: 44.897%;
    background-size: cover !important;
    background-position: center center;
    background-repeat: no-repeat;
}

.article__img1 {
    background: url(../img/article1.png);
}

.article__img2 {
    background: url(../img/article2.png);
}

.article__main_odd {
    padding-right: 96px;
    padding-left: 166px;
}

.article__offset {
    margin-bottom: 135px;
}

.article__img3 {
    background: url(../img/article3.png);
}

.services {
    margin-top: 340px;
}

.service__container {
    display: flex;
    justify-content: space-between;
}

.service {
    box-sizing: border-box;
    padding: 27px 42px 36px 30px;
    display: flex;
    flex-direction: column;
    margin-top: 69px;
    width: 20%;
}

.services .text__wrap::before {
    top: -140px;
}

.text__service {
    margin-top: 28px;
    margin-bottom: 60px;
}

.service:hover {
    box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.15);
}

.attraction {
    padding-right: 0;
    margin-right: 166px;
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #fafafa;
    box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.15);
    position: relative;
    z-index: 2;
}

.text__link_big {
    font-size: 16px;
    display: block;
    margin-top: 49px;
}

.footer__content {
    padding-top: 310px;
    padding-bottom: 36px;
    background-color: #4f553d;
    margin-top: -190px;
    position: relative;
}

.location {
    display: flex;
    position: relative;
}

.white__text {
    color: #b6c197;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    display: block;
}

.white__text_bold {
    color: #ffffff;
    font-weight: 700;
}

.location__item:first-child {
    margin-right: 130px;
}

.location::after {
    width: 100%;
    content: '';
    position: absolute;
    display: block;
    height: 2px;
    background-color: #5d6544;
    bottom: -52px;
}

.footer__menu {
    margin-top: 113px;
    display: flex;
    margin-left: -6.25%;
    margin-right: -6.25%;
    position: relative;
    z-index: 10;
}

.one__menu {
    padding-left: 0;
    list-style: none;
    width: 15%;
    margin: 0 6.25%;
}

.menu__heading {
    margin-bottom: 25px;
}

.one__menu_big {
    width: 30%;
}

.white__text_big {
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    line-height: 38px;
}

.social {
    display: flex;
    margin-top: 25px;
}

.social__item:hover {
    background-color: #ffd723;
    color: #ffffff;
}

.social__item {
    width: 33px;
    height: 33px;
    background-color: #444a34;
    border-radius: 50%;
    margin-right: 11px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #5e6648;
    font-size: 18px;
}

.last {
    margin-top: 94px;
    position: relative;
    display: flex;
}

.last::before {
    width: 100%;
    content: '';
    position: absolute;
    display: block;
    height: 2px;
    background-color: #5d6544;
    top: -24px;
}

.footer {
    position: relative;
}

.footer__content::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: url(../img/footer.png);
    background-size: cover;
}
