@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Alkalami&family=Nabla&display=swap');

html
{
    scroll-behavior: smooth;
}

body
{
    margin: 0;
    padding: 0;
    background: rgb(6, 0, 8);
}
ul li
{
    list-style: none;

}

.contacts a
{
    text-decoration: none;
    color: rgb(15, 201, 233);
    padding: 0;
    margin: 0;
}

header a
{
    padding: 0;
    margin: 0;
    top: 0;
    right: 0;
    color: rgb(0, 128, 255);
    text-decoration: none;
}

.toggle ul li
{
    border-radius: 8px;
    padding-top: 24px;
    padding-right: 24px;
    float: right;
    transition: transform 0.5s;
    text-align: center;
    cursor: pointer;
    margin-right: 20px;
}

.toggle ul li:hover
{
    transform: scale(120%);
}

.toggle a:hover
{
    color: rgb(4, 124, 151);
}

.text
{
    font-size: 20px;
    color: chartreuse;
}

.mark
{
    position: absolute;
    float: left;
    left: 36px;
    font-size: 18px;
    z-index: 999;
}

.color_text
{
    color: rgb(15, 201, 233);
}

.aside
{
    padding: 25px;
    position: absolute;
    height: 2500px;
    top: -69px;
    left: -36px;
    border-right: 4px solid rgb(6, 141, 22);
    background: rgba(39, 40, 43, 0.979);
    z-index: 99999;
}

.aside a
{
    font-family: 'Alkalami', serif;
    padding: 12px;
    margin-left: 12px;
    width: 124px;
    height: 42px;
    border-radius: 5px;
    border: 1px solid rgb(1, 83, 92);
    display: block;
    color: rgb(28, 227, 181);
    text-decoration: none;
    transition: transform 0.2s;
}

.aside a:hover
{
    border: none;
    color: rgb(10, 134, 134);
    transform: scale(110%);
}

.hexvel_logo
{
    margin-top: 60px;
    margin-left: 42px;
    margin-bottom: 90px;
    border-radius: 60%;
}

.home_text
{
    position: absolute;
    text-align: center;
    top: 160px;
    font-size: 24px;
    color: rgb(235, 168, 0);
    padding: 24px;
}


h3
{
    font-family: 'Nabla', cursive;
    color: rgb(5, 217, 115);
}


.contacts
{
    position: absolute;
    text-align: center;
    justify-content: center;
    align-items: center;
    top: 700px;left: 170px;
    font-size: 24px;
    color: rgb(235, 168, 0);
    padding: 24px;
}

.developers
{
    font-family: 'Nabla', cursive;
    position: absolute;
    text-align: center;
    justify-content: center;
    align-items: center;
    top: 1200px;
    left: 170px;
    font-size: 24px;
    color: rgb(235, 168, 0);
    padding: 24px;
}

div.home_text
{
    background: rgb(55, 60, 65);
    border-radius: 20px;
    width: 785px;
    left: 450px;
}


div.contacts
{
    background: rgb(55, 60, 65);
    border-radius: 20px;
    width: 785px;
    left: 450px;
}

.bottom
{
    opacity: 0;
}

@media (max-width: 940px)
{
    .aside
    {
        opacity: 0;
    }
    header
    {
        background: rgb(62, 61, 61);
        top: 0;
        right: 0;
        left: 0;
        font-size: 12px;
        color: rgb(151, 4, 99);
        position: fixed;
        z-index: 1;
        height: 54px;
    }
    div.home_text
    {
        width: 220px;
        font-size: 16px;
        left: 40px;
    }
    div.contacts
    {
        width: 220px;
        font-size: 16px;
        left: 40px;
    }
    .toggle ul li
    {
        padding: 4px;
        text-align: center;
        background: rgb(134, 129, 125);
    }
    .bottom
    {
        position: absolute;
        margin-top: 150%;
        color: aqua;
        left: 35px;
        height: 50px;
        border-radius: 18px;
        background: cadetblue;
        padding: 8px;
    }
}
